# Configuration MongoDB
URL_MONGODB=mongodb://localhost:27017
NOM_BASE_DONNEES=admission_intelligente

# Configuration FastAPI
ENVIRONNEMENT_FASTAPI=developpement
PORT_API=8000
HOTE_API=0.0.0.0

# Chemin des Modèles ML
CHEMIN_MODELES=./app/modeles_entraines/

# Journalisation
NIVEAU_JOURNAL=INFO
